@import 'nib'

body
	padding: 50px
	padding-top: 20px
	//font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
img
	max-width: 100%
	height: auto !important

.file
	position: relative
	display: inline-block
	padding: 0.4em
	margin: 0.2
	color: #000
	background: #97C02F
	overflow: hidden
	text-align: center
	border-radius: 3px 0 3px 3px
	border-color: grey
	height: 110px
	width: 110px
	background: linear-gradient(top right, rgba(151,192,47,0) 0%,rgba(151,192,47,0) 1.3em, rgba(101,142,21,1) 1.5em,rgba(151,192,47,1) 1.5em);
 
.file:before
	content: ""
	position: absolute
	top: 0
	right: 0
	border-width: 1em
	border-style: solid
	border-color: transparent transparent #658E15 #658E15
	background: transparent
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
	box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)

.file>div
	margin: 0.2em
	color: #77a00F
	text-shadow: 0px 2px 3px #a7d03F
	height: 1em
 
.file>img
	max-width: 100px
	max-height: 100px
	width: auto
	height: auto
	display: block
	background: white